.container img{
    width: 100px;
	border-radius: 50%;
	border: 1px solid rgba(255,0,0,1.00);
}

.container a {
    font-size: 20px;
    color:rgb(14, 91, 179);
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }